.bangla {
    font-family: "Noto Serif Bengali", serif !important;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.progress-bar {
  transition: width 1.5s ease-in-out;
}
  